PRINTER_NAME=Canon SELPHY CP1500
SMTP_SERVER=smtp.seznam.cz
SMTP_PORT=465
SMTP_USER=eliskatom2026@seznam.cz
SMTP_PASS=changeme
IMAP_SERVER=imap.seznam.cz
IMAP_USER=eliskatom2026@seznam.cz
IMAP_PASS=changeme
IMAP_POLL_INTERVAL=30
RAW_DIR=./photos/raw
PROCESSED_DIR=./photos/processed
PRINTED_DIR=./photos/printed
HIDDEN_DIR=./photos/hidden
